@import "tailwindcss";

body {
  background-color: rgb(250, 249, 245);
}

@theme {
  --font-garamond: "EB Garamond", serif;
  --font-pt-mono: "PT Mono", serif;

  @keyframes shimmer {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0% 0;
    }
  }
}

@utility shimmer-text {
  display: inline;
  animation: shimmer var(--shimmer-duration, 3s) linear infinite;
  background-image: linear-gradient(
    90deg,
    var(--color-blue-500) 0%,
    var(--color-blue-500) 45%,
    var(--color-orange-500) 50%,
    var(--color-blue-500) 55%,
    var(--color-blue-500) 100%
  );
  background-size: 300% 100%;
  background-clip: text;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  color: transparent;
}

@utility shimmer-text-hover {
  @apply shimmer-text;
  animation: none;
}

.shimmer-text-hover:hover {
  @apply shimmer-text;
}
